/**************************************/
/* Below 1344px (Smaller Desktops) */
/**************************************/

/* @media (max-width: 84em) {} */


/**************************************/
/* Below 1200px (Smaller Desktops) */
/**************************************/

@media (max-width: 75em) {}

/**************************************/
/* Below 704px (Small Tablets) */
/**************************************/

@media (max-width: 44em) {
    html {
        font-size: 48%;
    }

    .heading-primary {
        font-size: 2.8rem;
    }

    .hero-description {
        font-size: 1.4rem;
        line-height: 1.4;
        margin-bottom: 2.4rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 1rem 1.8rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .margin-right-sm {
        margin-right: 0.5rem;
    }

    .sub-heading {
        font-size: 1.2rem;
    }

    .heading-secondary {
        font-size: 2.4rem;
        line-height: 1.05;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 4.8rem;
    }

    .heading-teritary {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1.4rem;
    }

    .about-img {
        padding: 0;
    }

    .training-container {
        column-gap: 0.2rem;
    }

    .testimonial-container {
        padding: 1.6rem;
    }

    .testimonials {
        display: grid;
        row-gap: 2.4rem;
        column-gap: 2rem;
    }

    .testimonial-img {
        width: 4.4rem;
        height: 4.4rem;
    }

    .testimonials-text {
        font-size: 1.4rem;
    }

    .testimonial-name {
        font-size: 1.3rem;
    }

    .gallery-view {
        padding: 1.4rem;
    }

    .training-card {
        max-width: 86%;
    }

    .pricing {
        gap: 4rem
    }

    .features {
        font-size: 1.4rem;
    }

    .list-icon {
        font-size: 1.4rem;
    }

    .plan-price span {
        font-size: 1.6rem;
    }
}

/**************************************/
/* Below 550px (Small Tablets) */
/**************************************/

@media (max-width: 34em) {
    html {
        font-size: 24%;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 2.8rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero-img-box {}

    .heading-primary {
        font-size: 6.4rem;
        padding: 2rem;
    }

    .hero-description {
        font-size: 3.6rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
        padding: 2rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 2.4rem 3.8rem;
        font-size: 2.8rem;
        font-weight: 600;
    }

    .hero-text-box a {
        margin-left: 2rem;
    }

    .margin-right-sm {
        margin-right: 0.5rem;
    }

    .sub-heading {
        font-size: 3.2rem;
    }

    .heading-secondary {
        font-size: 6.4rem;
        line-height: 1.05;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 4.8rem;
    }

    .heading-teritary {
        font-size: 3.2rem;
        line-height: 1.2;
        margin-bottom: 1.4rem;
    }

    .about-container {
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img-box {
        margin-bottom: 9.6rem;
    }

    .about-description {
        font-size: 2.8rem;
        line-height: 1.2;
    }

    .training-container {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        justify-content: center;
        align-items: center;
        padding: 2.4rem 12rem 0 12rem;
    }

    .training-card {
        max-width: 75%;
    }

    .training-card-title {
        font-size: 4.8rem;
    }

    .training-img {
        width: 100%;
    }

    .section-testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.8rem;
        padding: 2rem;
    }

    .testimonial-container {
        text-align: center;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 9.6rem;
    }

    .testimonial-img {
        width: 6.4rem;
        height: 6.4rem;
    }

    .testimonials-text {
        font-size: 2rem;
        line-height: 1.2;
    }

    .testimonial-name {
        font-size: 1.8rem;
    }

    .gallery-view {
        padding: 10rem;
    }

    .trainer-card-name,
    .social-icon {
        font-size: 3.6rem;
    }

    .pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.8rem;
    }

    .pricing-container {
        width: 100%;
        padding: 4.8rem;
        text-align: center;
    }

    .pricing-container li {
        display: inline-block;
    }

    .features {
        gap: 2.8rem;
        font-size: 3.6rem;
    }

    .features a {
        transform: translateX(35%);
    }

    .btn-media {
        display: inline-block;
        padding: 2.4rem 3.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        width: 60%;
    }

    .plan-price span {
        font-size: 4.8rem;
    }

    .list-icon {
        font-size: 3.6rem;
    }

    .cta-form {
        display: flex;
        flex-direction: column;
    }

    .cta-text {
        font-size: 2.8rem;
    }

    .cta-form label {
        font-size: 2.8rem;
    }

    .cta-form input,
    .cta-form select {
        font-size: 2.8rem;
        font-family: inherit;
    }
}